.header-content {
    height: 700px;
    width: 100%;
    background: #fbfbfb;
    overflow: hidden;
    position: relative;
}

.header-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    align-items: center;
}

.header-image {
    max-width: 430px;
    margin: 0 auto;
}

.header-image {
    position: relative;
}

.header-content .header-shape {
    position: absolute !important;
}

.header-shape.shape-one {
    top: 140px !important;
    left: 80px !important;
}

.header-shape.shape-two {
    top: 30% !important;
    left: 15% !important;
}

.header-shape.shape-three {
    top: 15% !important;
    left: 44% !important;
}

.header-shape.shape-four {
    top: 15% !important;
    right: 10% !important;
    left: auto !important;
}

.header-shape.shape-five {
    right: 15% !important;
    bottom: 55% !important;
    left: auto !important;
    top: auto !important;
}

.header-shape.shape-six {
    top: 60% !important;
    left: 93% !important;
}

.header-shape.shape-seven {
    left: 3% !important;
    bottom: 50px !important;
    top: auto !important;
}

.header-shape.shape-eight {
    left: 5% !important;
    bottom: 40% !important;
    top: auto !important;
}

.header-shape.shape-nine {
    left: 50% !important;
    bottom: 28px !important;
    top: auto !important;
}

.header-shape.shape-ten {
    right: 7% !important;
    bottom: 64px !important;
    left: auto !important;
    top: auto !important;
}

@media screen and (max-width: 1199.98px) {
    .header-grid-container {
        grid-column-gap: 0;
    }
}

@media screen and (max-width: 991.98px) {
    .header-grid-container {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        grid-row-gap: 30px;
        padding-top: 120px;
    }

    .header-image {
        display: none;
    }

    .header-content {
        height: 550px;
    }
}

@media screen and (max-width: 767.98px) {

    .header-content .header-shape.shape-one img,
    .header-content .header-shape.shape-two img,
    .header-content .header-shape.shape-three img,
    .header-content .header-shape.shape-four img,
    .header-content .header-shape.shape-five img,
    .header-content .header-shape.shape-six img,
    .header-content .header-shape.shape-seven img,
    .header-content .header-shape.shape-eight img,
    .header-content .header-shape.shape-nine img,
    .header-content .header-shape.shape-ten img {
        width: 40px;
    }

    .sub-title {
        font-size: 24px;
    }

    .title {
        font-size: 38px;
    }

    p {
        font-size: 15px;
    }

    .header-grid-container {
        padding-top: 90px;
    }
}